<div class="intro-section site-blocks-cover innerpage" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row align-items-center text-center border">
            <div class="col-lg-12 mt-5" data-aos="fade-up">
                <h1>İletişim</h1>
                <p class="text-white text-center">
                    <a href="~/AnaSayfa/index">AnaSayfa</a>
                    <span class="mx-2">/</span>
                    <span>İletişim</span>
                </p>
            </div>
        </div>
    </div>
</div>





<div class="site-section">
    <div class="container">
        <div class="row">
            

            <div class="col-12" align="center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.436318539208!2d32.8272669512967!3d39.931628992821125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f9561f9e84d%3A0x875afd5efc81520a!2sMad%20Madencilik%20Teknik%20B%C3%BCro%20Ltd.%20%C5%9Eti.!5e0!3m2!1str!2str!4v1600264516104!5m2!1str!2str" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        
            </div>
    </div>
</div>