@using Web.Utility
@model Web.Areas.MENU.Models.ModelUser
    <script type="text/javascript">
     function logout() {
        @StaticValues.LoginId = null;
        window.location.href = "~/AnaSayfa/index";
        }
     
    </script>
<!DOCTYPE html>
<html lang="tr" class="no-js">


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giriş Ekranı</title>
    <link rel="shortcut icon" href="~/Menu/favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Menu/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Menu/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Menu/css/component.css" />
    <link rel="stylesheet" href="~/Menu/header/demo.css">
    <link rel="stylesheet" href="~/Menu/header/header-login-signup.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/ADD/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="~/ADD/css/animate.css">

<link rel="stylesheet" href="~/ADD/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/ADD/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/ADD/css/magnific-popup.css">

<link rel="stylesheet" href="~/ADD/css/aos.css">

<link rel="stylesheet" href="~/ADD/css/ionicons.min.css">

<link rel="stylesheet" href="~/ADD/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/ADD/css/jquery.timepicker.css">


<link rel="stylesheet" href="~/ADD/css/flaticon.css">
<link rel="stylesheet" href="~/ADD/css/icomoon.css">
<link rel="stylesheet" href="~/ADD/css/style.css">

    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

    <!-- csstransforms3d-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-prefixes-domprefixes-load -->
    <script src="~/Menu/js/modernizr.custom.25376.js"></script>
</head>

<body>
<header class="header-login-signup">

    <div class="header-limiter">

        <h1><a ><span>MAD Madencilik</span></a></h1>

        <nav>
          
        </nav>
        <form asp-controller="Start" asp-action="logout">
        <a>Sn. @Model.name @Model.surname</a>

            <ul>

                <button type="button" id="showMenu">MENU</button>
                <button type="submit">ÇIKIŞ</button>
            </ul>

        </form>

    </div>

</header>

<div id="perspective" class="perspective effect-movedown">
  
    <div class="container">
        <div class="wrapper"><!-- wrapper needed for scroll -->
            <!-- Top Navigation -->
                
            @RenderBody()

                
            
        </div>
    </div><!-- /container -->
    
    <nav class="outer-nav top horizontal">
        <a href="#" class="icon-home">Home</a>
        <a href="~/Menu/DüzenleDuyuru/index" class="icon-delete">Duyuru Sil</a>
        <a href="~/Menu/DuyuruEk/index" class="icon-upload">Duyuru Ekleme</a>
        <a href="~/Menu/MezuatSil/index" class="icon-upload">Mevzuat Sil</a>
        <a href="~/Menu/Add/index" class="icon-upload">Mevzuat Ekleme</a>
        <a href="~/Menu/KullaniciEkle/index" class="icon-upload">Kullanıcı Ekle</a>
        <a href="~/Menu/PasswordChange/index" class="icon-security">Şifre Değiştir</a>
    </nav>
</div><!-- /perspective -->
<script src="~/Menu/js/classie.js"></script>
<script src="~/Menu/js/menu.js"></script>
</body>
</html>