@model ModelDuyuru
<div class="intro-section site-blocks-cover innerpage" style="background-image: url('');">
    <div class="container">
        <div class="row align-items-center text-center border">
            <div class="col-lg-12 mt-5" data-aos="fade-up">
                <h1>@Model.duyuru.baslik</h1>
                <p class="text-white text-center">
                    <a href="~/AnaSayfa/index">AnaSayfa</a>
                    <span class="mx-2">/</span>
                    <a href="~/Duyurular/index">Duyurular</a>
                    <span class="mx-2">/</span>
                    <span>Duyuru</span>
                </p>
            </div>
        </div>
    </div>
</div>


<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-content">
                <img align="middle" src="~/Main/@Model.duyuru.resimUrl"/>
                <p>@Model.duyuru.aciklama</p>
                <div>
                    @if (Model.duyuru.PdfUrl != null)
                    {
                        <p>İndirmek İçin Tıklayınız:</p>
                        <a href="~/Main/@Model.duyuru.PdfUrl" download>

                            <img src="~/Main/images/pdfImage.png" alt="pdf" width="50" height="60"/>
                        </a>
                    }
                </div>
                <div class="pt-5">
                </div>
            </div>
          
        </div>
    </div>
</section>